@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 2%;
}
p {
    font-size: 15px;
}
.nav-bar, ul {
    display: flex;
    justify-content: space-between;
}
.nav-links {
    width: 40%;
}
ul {
    list-style: none;
}
.container {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr; /* Three columns of equal width */
    margin-top: 3%;
  }
.grid {
    width: 900px;
    height: 500px;
}
.hero-image, .hero-img {
    width: 900px;
}
.hero-text {
    display: flex;
    width: 100%;
}
.paragraph {
    width: 70%;
}
.col-grid {
    background-color: var(--veryDarkBlue);
    color: var(--offWhite);
    height: 500px;
    padding: 0 3%;
}
.new-title {
    font-size: 40px;
    color: var(--softOrange);
}
.sub-heading {
    font-weight: 700;
    font-size: 22px;
}