@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 2%;
}
p {
    font-size: 15px;
}
.nav-bar, ul {
    display: flex;
    justify-content: space-between;
}
.nav-links {
    width: 40%;
}
.hamburger {
    display: flex;
    justify-content: end;
    align-self: center;
    cursor: pointer;
    border: black 1px solid;
    height: 100%;
}
.hidden {
    display: none;
}
ul {
    list-style: none;
}
li {
    cursor: pointer;
    color: var(--veryDarkBlue);
}
li:hover {
    color: var(--softRed);
}
.container {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr; /* Three columns of equal width */
    margin-top: 3%;
  }
.grid {
    width: 900px;
    height: 550px;
}
.hero-image, .hero-img {
    width: 900px;
}
.hero-text {
    display: flex;
    gap: 10%;
    width: 100%;
}
.paragraph {
    padding-top: 2%;
    width: 50%;
}
.col-grid {
    background-color: var(--veryDarkBlue);
    color: var(--offWhite);
    height: 550px;
    padding: 0 5%;
}
.new-title {
    font-size: 40px;
    color: var(--softOrange);
}
.sub-heading {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}
.sub-heading:hover {
    color: var(--softOrange);
    cursor: pointer;
}
.col-p {
    color: var(--grayishBlue);
}
.hero-title {
    width: 45%;
}
.hero-sub-title {
    font-size: 50px;
    line-height: 100%;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--softRed);
    border: none;
    color: var(--offWhite);
    height: 50px;
    width: 150px;
    cursor: pointer;
    letter-spacing: 3px;
}
.btn:hover {
    background-color: var(--veryDarkBlue);
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.card {
    display: flex;
    width: 400px;
    gap: 2%;
}
.number {
    font-size: 30px;
}
.card-title {
    font-weight: 800;
}
.card-title:hover {
    color: var(--softRed);
    cursor: pointer;
}
.number, .card-text p {
    color: var(--grayishBlue);
}

/**** MOBILE ***/
@media only screen and (max-width: 700px) {
    .container, .hero-text {
        display: flex;
        flex-direction: column;
    }
    .hero-image, .hero-img {
        width: 100%;
    }
    .grid {
        width: auto;
    }
    .paragraph {
        margin-top:  -7%;
        width: 100%;
    }
    .col-grid {
        margin-top: 10%;
        width: 90%;
        height: 450px;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .hero-title {
        width: 70%;
    }
    .card {
        width: 100%;
        margin-top: 5%;
    }
    .number {
        font-size: 36px;
    }
    .card-title {
        font-size: 26px;
        font-weight: 800;
    }
}